
body {
  margin: 0;
  font-family: Arial;
}

.header {
  position: sticky;
  top: 0;
  background: black;
  padding: 10px;
}

.header a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.section {
  padding: 100px 20px;
}

.grid {
  display: flex;
  gap: 20px;
}

.card img {
  width: 200px;
  height: auto;
}
